@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    width: 100%;
}

/* ========= header ========= */
header {
    position: relative;
    width: 100%;
    height: 950px;
    background-image: url(../images/SVT.jpg);
}

/* name */
.name {
    position: absolute;
    top: 10px;
}

/* mobile-btn */
.mobile-btn {
    position: absolute;
    left: 1158px; top: 20px;
}

.mobile-btn > span:first-child,
.mobile-btn > span:nth-child(2),
.mobile-btn > span:last-child {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: black;
}

.mobile-btn > span:nth-child(2) {
    margin-top: 10px;
}

.mobile-btn > span:last-child {
    margin-top: 20px;
}

/* information */
.information {
    width: 600px;
    padding-top: 880px;
}

.information > ul {
    display: flex;
    justify-content: space-between;
}

.information > span {
    display: flex;
}

.information img {
    width: 30px;
    height: 25px;
    margin-bottom: -5px;
    margin-right: 10px;
}

/* ========= main ========= */
/* pic */
.pic {
    margin-top: 42px;
}

.pic > img {
    width: 690px; height: 430px;
}

.pic hr {
    border: 1px solid whitesmoke;
    margin-top: 27px;
    width: 690px;
}

/* intro1 */
.intro1 {
    position: absolute;
    width: 467px;
    height: 393px;
    left: 713px;
    top: -8px;
    text-align: justify;
    line-height: 30px;
}

.intro1 h2 {
    font-size: 15px;
    font-weight: normal;
}

.intro1 strong {
    font-size: 30px;
    line-height: 50px;
}

/* intro2 */
.intro2 {
    margin-top: 20px;
    line-height: 30px;
}

.intro2 .line1 {
    padding-left: 55px;
}

.intro2 .line2 {
    padding-left: 37px;
}

.intro2 .line3 {
    padding-left: 53px;
}

.intro2 .line4 {
    padding-left: 92px;
}

/* img-total */
.img-total img {
    width: 145px;
    height: 180px;
}

.img-total img:hover {
    box-shadow: 0px 0px 8px rgb(75, 75, 75);
}

/* img-total1 */
.img-total1 {
    display: flex;
    margin-top: 74px;
    justify-content: center;
}

.img-total1 .img2,
.img-total1 .img3,
.img-total1 .img4,
.img-total1 .img5 {
    padding-left: 60px;
}

.img-total1 div > strong {
    text-align: center;
}

/* img-total2 */
.img-total2 {
    display: flex;
    margin-top: 47px;
    justify-content: center;
}

.img-total2 .img7,
.img-total2 .img8,
.img-total2 .img9,
.img-total2 .img10 {
    padding-left: 60px;
}

.img-total2 div > strong {
    text-align: center;
}

/* img-total3 */
.img-total3 {
    display: flex;
    margin-top: 47px;
    justify-content: center;
}

.img-total3 .img12,
.img-total3 .img13 {
    padding-left: 60px;
}

.img-total3 div > strong {
    text-align: center;
}

/* album-title */
.album-title .discography {
    display: flex;
    padding-top: 93px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.album-title .discography > hr {
    margin-top: 15px;
    width: 380px;
    height: 1px;
}

.album-title img {
    width: 245px;
    height: 245px;
}

.album-title img:hover {
    box-shadow: 0px 0px 8px rgb(75, 75, 75);
}

.album-title .title1 {
    display: flex;
    margin-top: 77px;
    justify-content: center;
}

.title1 .album2,
.title1 .album3,
.title1 .album4 {
    padding-left: 17px;
}

.album-title div > strong {
    width: 245px;
}

.album-title p {
    line-height: 28px;
    font-size: 15px;
}

.album-title .title2 {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.title2 .album6,
.title2 .album7,
.title2 .album8 {
    padding-left: 17px;
}

.slide .left {
    position: absolute;
    top: 50%;
    transform: translate(50%, 50%);
    font-size: 30px;
}

.slide .right {
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(92%,50%);
    font-size: 30px;
}

/* VIDEO */
.VIDEO h3{
    text-align: center;
    font-size: 36px;
    padding-top: 100px;
}

.VIDEO .video01,
.VIDEO .video02 {
    display: flex;
    justify-content: space-between;
}

.video01 > div,
.video02 > div {
    width: 32.20338983050847%;
}

.video01 div {
    padding-top: 50px;
}

.video01 .mv h4
.video02 .mv h4
/* .video01 .mv p, */
/* .video02 .mv h4 */
/* .video02 .mv p  */
{
    height: 30px;
}

.video01 .mv > p,
.video02 .mv > p  {
    padding-top: 10px;
}

.video02 .mv > .day {
    padding-top: 30px;
}
/* .video01 .mv1 > h4,
.video01 .mv2 > h4,
.video01 .mv3 > h4 {
    text-align: center;
}
 */

.video01 .mv > p,
.video02 .mv > p {
    font-size: 12px;
}

.video02 {
    padding-top: 10px;
}

/* number */
.number {
    display: flex;
    width: 284px;
    margin: 0 auto;
}

.number a {
    width: 12.5%;
    padding-top: 50px;
    text-align: center;
    font-size: 18px;
}

.number a:hover {
    font-weight: bold;
}

/* ======= footer ======= */
footer {
    background-color: black;
}

.logo {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.logo p {
    color: #a9a9a9;
    font-size: 13px;
    padding-top: 10px;
}